@font-face {
    font-family: 'Montserrat';
    src: url(/fonts/Montserrat/Montserrat.ttf) format(truetype);
    font-weight: lighter;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;

    background-color: #101010;
    color: #fff;
    font-family: 'Montserrat', Verdana, sans-serif;
    text-align: center;
}

a{
    color: #fff;
    text-decoration: none;

    &:hover {
        color: goldenrod;
        transition: 500ms;
    }
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px 50px;

    & h1 {
        text-align: left;
        color: goldenrod;
    }

    & nav {
        font-size: 15px;
        padding: 13px 0;
        margin-top: 5px;
        margin: 0 auto;
    }

    & ul {
        align-items: center;
        list-style-type: none;
        display: flex;
        width: fit-content;

        & li {
            margin-right: 50px;
            padding: 2px;
            width: max-content;
        }
    }
}

main {
    text-align: justify;

    & article {
        background-color: #aeaeae;
        color: #000;
        margin: 50px auto;
        width: 700px;
        padding: 40px;
        border-radius: 30px;
    }
}